body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("https://static.vecteezy.com/system/resources/previews/017/023/144/non_2x/green-abstract-background-green-background-design-abstract-futuristic-background-green-modern-background-green-abstract-background-for-templates-cards-and-websites-free-vector.jpg");
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

.header {
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.nav {
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
}

h1 {
    font-size: 2.5rem;
}
